/* Colors: Navy Blue + Teal Green + White
Font: Space Grotesk (headings) + Inter (body) */

body {
  margin: 0;
  /* Reserve space for the fixed navbar so headings aren't hidden */
  padding-top: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.06),
    0 6px 12px rgba(0, 0, 0, 0.04);
}

#supoortHero {
  background-color: #3c50c4;
  color: white;
  margin-top: -0.5rem;
}

#supoortHero a {
  color: white;
}

.portal {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 80px;
  padding: 2rem;
}

#search-bar {
  margin-left: 70px;
  margin-right: 10px;
}

.input {
  border: 1px solid white;
  border-radius: 7px;
  padding: 1rem;
  width: 90%;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}

.all-link li {
  list-style: none;
}

.all-link a {
  display: flex;
  text-decoration: none;
  margin-top: 15px;
  margin-left: -1rem;
}