.navbar {
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.06),
        0 6px 12px rgba(0, 0, 0, 0.04);
}

.nav-link,
.nav-link:visited {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #BDE8F5;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    filter: invert(1);
}